header {
  position: fixed;
  display: inline;
  z-index: 2;
}

.header-logo {
  float: left;
}

.header-nav {
  float: right;
  display: inline;
}


.photo-gallery {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#photo {
  width: 100%;
}
