body{
  max-width: 1200px;
  margin: auto;
  float: none;
}

/* HEADER: LOGO & NAV */
header {
  position: fixed;
  display: inline-block;
  width: 80%;
  height: auto;
  border: 1px solid #204156;
}

.header-logo {
  max-width: 200px;
  width: auto;
  height: auto;
  margin-left: 20px;
}

#logo {
  float: left;
  width: 70%;
  height: auto;
  border: 1px solid #204158;
}

.nav-list {
  float: right;
  margin-top: 55px;
  display: inline;
  border: 1px solid #204158;
}

.nav-list li {
   margin: 0 40px 0 0;
   display: inline;
}

.header-nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial;
  font-weight: 500;
  color: #363636;
}

/* MAIN: BANNER, GALLERY, BIO */
main{
  position: relative;
  width: 80%;
  height: auto;
  border: 1px solid #204156;
}

.hero-banner {
  max-width: 1062px;
  width: auto;
  height: auto;
}

#banner {
  width: auto;
  height: auto;
}
/*.photo-gallery {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#photo {
  width: 100%;
}

footer {
  position: relative;
  display: inline;
  float: center;
  width: 70%;
}

.footer-copy-right {
  float: left;
}

.footer-list {
  float: right;
  display: inline;
}
*/
