body{
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  display: inline-block;
  margin-left: 50%;
  width: 80%;
  height: 25%;
  border: 1px solid #204156;
}

.header-logo {
  max-width: 200px;
  width: auto;
  height: auto;
}

#logo {
  float: left;
  width: 90%;
  height: auto;
  border: 1px solid #204158;
}

.nav-list {
  float: right;
  margin-top: 40px;
  display: inline;
  border: 1px solid #204158;
}

.nav-list li {
   margin: 0 40px 0 0;
  display: inline;
  text-transform: uppercase;
}

/*.photo-gallery {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#photo {
  width: 100%;
}

footer {
  position: relative;
  display: inline;
  float: center;
  width: 70%;
}

.footer-copy-right {
  float: left;
}

.footer-list {
  float: right;
  display: inline;
}
*/
